body {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    background-color: tomato;
}

#container {
    max-width: fit-content;
    padding: 1em;
    margin: 0 auto;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 13px;
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr 540px 1fr;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-areas:    "top-left top-left top-right"
                            "game game game"
                            "bottom-left bottom-right bottom-right";
}

canvas {
    background-color: slategrey;
    width: 100%;
    height: 100%;
}

#top-left, #top-right, #bottom-left, #bottom-right {
    border-radius: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

#top-left {
    grid-area: top-left;
}

#top-right {
    grid-area: top-right;
    cursor: pointer;
}

main {
    width: 960px;
    height: 540px;
    grid-area: game;
    background-color: rebeccapurple;
}

#bottom-left {
    grid-area: bottom-left;
}

#bottom-right {
    grid-area: bottom-right;
}